<a href="https://colab.research.google.com/github/nishithewel/gonharakas-HashCode/blob/main/test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print('hello world')

hello world

In [ ]:
import pandas as pd

In [ ]:
pd.read_csv('/data_3.csv')

           id  year   assets   capex  ...  indclass  icdiv     division        hpw
0        1050  1994    7.231   0.156  ...        21      4  Manufacture  34.546288
1        1050  1995    8.645   0.168  ...        21      4  Manufacture  34.878095
2        1050  1996    9.201   0.079  ...        21      4  Manufacture  41.238442
3        1050  1997   13.961   0.210  ...        21      4  Manufacture  33.061007
4        1050  1998   15.475   0.241  ...        21      4  Manufacture  33.072631
...       ...   ...      ...     ...  ...       ...    ...          ...        ...
13516  176362  2010  331.747  10.173  ...        24      4  Manufacture  38.793596
13517  176362  2011  369.151  14.992  ...        24      4  Manufacture  51.942018
13518  176362  2012  363.465  11.834  ...        24      4  Manufacture  47.703854
13519  176362  2013  384.954   7.143  ...        24      4  Manufacture  55.062228
13520  176362  2014  397.467   5.279  ...        24      4  Manufacture  55.581796

[13521 rows x 17 columns]